* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


a {
    text-decoration: none;
    color: #838fa3;
}

#parrafo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 0;
    text-align: justify;
    z-index: -100;
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: #838fa3;
    opacity: 0.1;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #ebeef7;
}

 
header {
    height: 125px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 45px;
    color: #838fa3;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s all;
    cursor: default;
}

header h1:hover {
    color: #a697ff;
}

main {
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.letf-bar,
.right-bar {
    height: 300px;
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #ebeef7;
    box-shadow:  -20px -20px 60px #929499,
                 20px 20px 60px #ffffff;
}

.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #ebeef7;
    box-shadow:  20px -20px 60px #929499,
                 -20px 20px 60px #ffffff;
}

.right-bar span {
    width: 30px;
    height: auto;
    top: -90px;
    text-align: center;
    font-size: 20px;
    color: #838fa3;
    font-weight: 600;
    line-height: 18px;
}

.right-bar input {
    transform: rotate(-90deg);
    margin: 50px 0;
}

input[type='range'] {
    display: block;
    width: 150px;
}
  
input[type='range']:focus {
    outline: none;
}
  
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]::-webkit-slider-thumb {
    background-color: #838fa3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -9px;
    cursor: pointer;
    transition: 0.3s all;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: #a697ff;
    transform: scale(1.1); 
}


input[type=range]::-webkit-slider-runnable-track {
    background-color: #838fa3;
    height: 3px;
    transition: 0.3s all;
}

input[type=range]::-webkit-slider-runnable-track:hover {
    background-color: #a697ff;
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}

 .btn-borders {
    width: 30px;
    height: 30px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Blank_neighborhood.svg/220px-Blank_neighborhood.svg.png);
    background-size: cover;
    background-position: center;
    border: 3px solid #838fa3;
    transform: scale(1);
    cursor: pointer;
    transition: all 0.3s;
 }

 #btn-borders:hover {
    transform: scale(0.9);
    border-color: #a697ff;
 }

 .border-active {
    transform: scale(0.9);
    border-color: #a697ff;
    transition: all 0.3s;
 }

button {
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-refresh:hover {
    transform: rotate(360deg);
}

ion-icon {
    font-size: 30px;
    color: #838fa3;
    transition: 0.3s all;
  }

ion-icon:hover {
    transform: scale(1.1);
    color: #a697ff;
}

.container-board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #fff;
    box-shadow:  -17px 17px 49px #9d9fa5,
                 17px -17px 49px #9d9fa5;
}

.container-board .borderChills {
    border: 1px solid #838fa32d
}

/*--------------footer--------------*/
footer {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #838fa3;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #ebeef7;
    font-size: 20px;
    background-color: #838fa3;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s all;
}

footer img {
    height: 30px;
    width: 30px;
}

footer a:hover {
    color: #fff;
    background-color: #a697ff;
}

footer ion-icon {
    color: #ebeef7;
}

footer a:hover > 
ion-icon {
    color: #fff;
    transform: scale(1);

}